ProgrammingWCFServices/Chapter03/InferredDataContracts/InferredDataContractsClient/Service References/MyNamespace/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InferredDataContractsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InferredDataContractsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CInferredFullName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CInferredFullName" nillable="true" type="tns:CInferredFullName" />
  <xs:complexType name="CInferredFullNameDerived">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CInferredFullName">
        <xs:sequence>
          <xs:element minOccurs="0" name="SomeInfo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CInferredFullNameDerived" nillable="true" type="tns:CInferredFullNameDerived" />
</xs:schema>