ProgrammingWCFServices/Chapter03/DCGenerics/DCGenericsAutomaticClient/Service References/CDCGenericsProxy/DCGenericsLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CGenericClass1Ofint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CGenericClass1Of{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGenericClass1Ofint" nillable="true" type="tns:CGenericClass1Ofint" />
  <xs:complexType name="CGenericClass1Ofstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CGenericClass1Of{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGenericClass1Ofstring" nillable="true" type="tns:CGenericClass1Ofstring" />
  <xs:complexType name="CGenericClass1OfCNamemd1vdT_PP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CGenericClass1Of{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CName" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:CName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGenericClass1OfCNamemd1vdT_PP" nillable="true" type="tns:CGenericClass1OfCNamemd1vdT_PP" />
  <xs:complexType name="CName">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CName" nillable="true" type="tns:CName" />
  <xs:complexType name="CGenericClass2">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CGenericClass2" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CName" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:CName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGenericClass2" nillable="true" type="tns:CGenericClass2" />
  <xs:complexType name="CGenericClass3_CName">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CGenericClass3_{0}" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CName" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:CName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGenericClass3_CName" nillable="true" type="tns:CGenericClass3_CName" />
  <xs:complexType name="CGenericClass4_CName_Hash_md1vdT_PP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CGenericClass4_{0}_Hash_{#}" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CName" Namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:CName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGenericClass4_CName_Hash_md1vdT_PP" nillable="true" type="tns:CGenericClass4_CName_Hash_md1vdT_PP" />
</xs:schema>