ProgrammingWCFServices/Chapter03/DCGenerics/DCGenericsAutomaticClient/Service References/CDCGenericsProxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" />
  <xs:element name="SendInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" minOccurs="0" name="Value" nillable="true" type="q1:CGenericClass1Ofint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendIntResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGenerics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" minOccurs="0" name="Value" nillable="true" type="q2:CGenericClass1Ofstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGenericsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" minOccurs="0" name="Value" nillable="true" type="q3:CGenericClass1OfCNamemd1vdT_PP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" minOccurs="0" name="Value" nillable="true" type="q4:CGenericClass2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" minOccurs="0" name="Value" nillable="true" type="q5:CGenericClass3_CName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" minOccurs="0" name="Value" nillable="true" type="q6:CGenericClass4_CName_Hash_md1vdT_PP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCName4Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>