ProgrammingWCFServices/Chapter03/DCGenerics/DCGenericsAutomaticClient/Service References/CDCGenericsProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CDCGenericsService_x0060_1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDCGenericsContractOf_String_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DCGenericsLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDCGenericsContractOf_String_SendInt_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInt" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendIntResponse" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendGenerics_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGenerics" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendGenerics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGenericsResponse" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName1_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCName1" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCName1Response" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName2_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCName2" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCName2Response" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName3_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCName3" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName3_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCName3Response" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName4_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCName4" />
  </wsdl:message>
  <wsdl:message name="IDCGenericsContractOf_String_SendCName4_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCName4Response" />
  </wsdl:message>
  <wsdl:portType name="IDCGenericsContractOf_String">
    <wsdl:operation name="SendInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendInt" message="tns:IDCGenericsContractOf_String_SendInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendIntResponse" message="tns:IDCGenericsContractOf_String_SendInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGenerics">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendGenerics" message="tns:IDCGenericsContractOf_String_SendGenerics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendGenericsResponse" message="tns:IDCGenericsContractOf_String_SendGenerics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCName1">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName1" message="tns:IDCGenericsContractOf_String_SendCName1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName1Response" message="tns:IDCGenericsContractOf_String_SendCName1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCName2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName2" message="tns:IDCGenericsContractOf_String_SendCName2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName2Response" message="tns:IDCGenericsContractOf_String_SendCName2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCName3">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName3" message="tns:IDCGenericsContractOf_String_SendCName3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName3Response" message="tns:IDCGenericsContractOf_String_SendCName3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCName4">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName4" message="tns:IDCGenericsContractOf_String_SendCName4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCGenericsContractOf_String/SendCName4Response" message="tns:IDCGenericsContractOf_String_SendCName4_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDCGenericsContractOf_String" type="tns:IDCGenericsContractOf_String">
    <wsp:PolicyReference URI="#NetTcpBinding_IDCGenericsContractOf_String_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendInt">
      <soap12:operation soapAction="http://tempuri.org/IDCGenericsContractOf_String/SendInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGenerics">
      <soap12:operation soapAction="http://tempuri.org/IDCGenericsContractOf_String/SendGenerics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCName1">
      <soap12:operation soapAction="http://tempuri.org/IDCGenericsContractOf_String/SendCName1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCName2">
      <soap12:operation soapAction="http://tempuri.org/IDCGenericsContractOf_String/SendCName2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCName3">
      <soap12:operation soapAction="http://tempuri.org/IDCGenericsContractOf_String/SendCName3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCName4">
      <soap12:operation soapAction="http://tempuri.org/IDCGenericsContractOf_String/SendCName4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDCGenericsService_x0060_1">
    <wsdl:port name="NetTcpBinding_IDCGenericsContractOf_String" binding="tns:NetTcpBinding_IDCGenericsContractOf_String">
      <soap12:address location="net.tcp://localhost:9001/IDCGenericsContract" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/IDCGenericsContract</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TimmyAnderson\Administrator</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>